{% extends 'base.html' %}

{% load static %}

{% block content %}

      <section class="site-section py-lg">
            <div class="container">
                  <div class="row blog-entries">
                        <div class="col-md-12 col-lg-8 main-content">
                              <h1 class="mb-4">{{ article.title }}</h1>
                              <div class="post-meta">
                                    <span class="category">{{ article.category.title }}</span>
                                    <span class="mr-2">{{ article.created_at|date }} </span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span> {{ article.comment_set.count }}</span>
                              </div>
                              <div class="post-content-body">
                                    <p>{{ article.description }}</p>
                                    <div class="row mb-5">
                                          <div class="col-md-12 mb-4 element-animate">
                                                <img src="{{ article.image_1.url }}" alt="Image placeholder" class="img-fluid">
                                          </div>
                                          <div class="col-md-6 mb-4 element-animate">
                                                <img src="{{ article.image_2.url }}" alt="Image placeholder" class="img-fluid">
                                          </div>
                                          <div class="col-md-6 mb-4 element-animate">
                                                <img src="{{ article.image_3.url }}" alt="Image placeholder" class="img-fluid">
                                          </div>
                                    </div>
                              </div>
                              <div class="pt-5">
                                     Tags: 
                                     {% for tag in article.tags.all %}
                                          <a href="/?tag={{ tag.title }}">#{{ tag.title }}</a>
                                     {% endfor %}
                              </div>
                              <div class="pt-5">
                                    <h3 class="mb-5">{{ article.comment_set.count }} Comments</h3>
                                    <ul class="comment-list">
                                          {% for comment in comments %}
                                          <li class="comment">
                                                <div class="vcard">
                                                      {% if comment.user.avatar %}
                                                      <img src="{{comment.user.avatar.url}}" alt="Image placeholder">
                                                      {% else %}
                                                      <img src="{% static '' %}images/default_user.png" alt="Image placeholder">
                                                      {% endif %}
                                                </div>
                                                <div class="comment-body">
                                                      <h3>{{ comment.name }}</h3>
                                                      <div class="meta">{{ comment.created_at }}</div>
                                                      <p>{{ comment.comment }}</p>
                                                      <p><a href="{% url 'detail' article.slug %}" class="reply">Reply</a></p>
                                                </div>
                                          </li>
                                          {% endfor %}
                                    </ul>

                                    <div class="comment-form-wrap pt-5">
                                          <h3 class="mb-5">Leave a comment</h3>
                                          <form action="#comment" class="p-5 bg-light" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                      <label for="name">Name *</label>
                                                      <input type="text" class="form-control" id="name" name="name">
                                                </div>
                                                <div class="form-group">
                                                      <label for="email">Email *</label>
                                                      <input type="email" class="form-control" id="email" name="email">
                                                </div>
                                                <div class="form-group">
                                                      <label for="comment">Message</label>
                                                      <textarea id="comment" name="comment" cols="30" rows="10"
                                                            class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                      <input type="submit" value="Post Comment" class="btn btn-primary">
                                                </div>
                                          </form>
                                    </div>
                              </div>
                        </div>

                        {% include 'rside.html' %}

                  </div>
            </div>
      </section>
      <section class="py-5">
            <div class="container">
                  <div class="row">
                        <div class="col-md-12">
                              <h2 class="mb-3 ">Related Post</h2>
                        </div>
                  </div>
                  <div class="row">
                        {% for article in articles %}
                              <div class="col-md-6 col-lg-4">
                                    <a href="{{ article.get_absolute_url }}" class="a-block d-flex align-items-center height-md"
                                          style="background-image: url({{ article.image_1.url }});">
                                          <div class="text">
                                                <div class="post-meta">
                                                      <span class="category">{{ article.category }}</span>
                                                      <span class="mr-2">{{ article.created_at|date }} </span> &bullet;
                                                      <span class="ml-2"><span class="fa fa-comments"></span> {{ article.comment_set.count }}</span>
                                                </div>
                                                <h3>{{ article.title|slice:"0:30" }}...</h3>
                                          </div>
                                    </a>
                              </div>
                        {% endfor %}
                  </div>
            </div>
      </section>

{% endblock %}
